.general-container {
  display: grid;
  justify-items: center;
  padding: 0 15px;
}
.main-title {
  font-family: Poppins Semi Bold;
  font-size: 35px;
  color: #141414;
  text-align: center;
  line-height: 40px;
  margin: 40px 15px;
}
.modify-pass-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.button-guardar {
  margin-top: 20px;
}
