.general-container {
  display: grid;
  justify-items: center;
  padding: 0 15px;
}
.main-title {
  font-family: Poppins Semi Bold;
  font-size: 35px;
  color: #141414;
  text-align: center;
  line-height: 40px;
  margin: 15px;
}
.reported-pets-container {
  display: grid;
}
.reported-pet-card:last-child {
  margin-bottom: 30px;
}
