.report-window {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  flex-direction: column;
  gap: 10px;
  background-color: #26302e;
  border-radius: 8px;
  max-width: 320px;
  padding: 12px;
  box-shadow: 0 0 50px #000000;
}
.report-form__label {
  grid-row: 1;
  grid-column: 1 / span 2;
  font-family: Poppins Extra Light;
  font-size: 20px;
  color: #fafafa;
  margin: 0;
}
.button-yes {
  grid-row: 2;
  grid-column: 1;
  background-color: #00a884;
  border-radius: 8px;
  color: #fafafa;
  font-family: Poppins Medium;
  font-size: 20px;
  border: none;
  min-width: 50%;
  min-height: 50px;
  margin: 0;
}
.button-no {
  grid-row: 2;
  grid-column: 2;
  background-color: #00a884;
  border-radius: 8px;
  color: #fafafa;
  font-family: Poppins Medium;
  font-size: 20px;
  border: none;
  min-width: 50%;
  min-height: 50px;
  margin: 0;
}
