.report-form {
  display: none;
  flex-direction: column;
  gap: 20px;
  background-color: #26302e;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 0 50px #000000;
}
.report-form__label {
  font-family: Poppins Extra Light;
  font-size: 20px;
  color: #fafafa;
  margin: 0;
}
.report-form__textarea {
  display: block;
  width: 315px;
  height: 150px;
  font-family: Poppins Light;
  font-size: 20px;
}
