.search-form {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 10px 0 10px 10px;
}
.select-distance {
  display: block;
  background-color: #26302e;
  border-radius: 8px;
  color: #fafafa;
  font-family: Poppins Medium;
  font-size: 20px;
  border: none;
  min-width: 100px;
  min-height: 50px;
  margin: 0;
}
.search-button {
  background-color: #26302e;
  border-radius: 8px;
  color: #fafafa;
  font-family: Poppins Medium;
  font-size: 20px;
  border: none;
  min-width: 100px;
  min-height: 50px;
  margin: 0;
}
